.container1 {
  background-color: #7768237c !important;
  text-align: center !important;

  color: white !important;
  height: 480px !important;
}

.asd {
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}
.signUpLink {
  font-weight: 800 !important;
  font-size: calc(14px + 0.5vw) !important;
  color: white !important;

  text-decoration: underline !important;
}
